@{
  ViewBag.Title = LocalizedStrings.CoverOvermindTitle;
  Layout = null;
}


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="~/Content/cover.css" rel="stylesheet" />
  <title>@ViewBag.Title - Overmind</title>
  <link rel="shortcut icon" href="https://sistrategiadrive.blob.core.windows.net/wwwroot/favicon.png">
</head>
<body class="bg-img">
  <div class="panel-cover">
    <h1>@ViewBag.Title</h1>
  </div>
</body>
</html>


